body {
	width: 100%;
	margin: auto;
}

img {
	height: 700px;
}

.weather-container-1 {
	width: 120px;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #FFF;
  text-align: center;
}

.weather-container-2 {
  width: 120px;
  position: absolute;
  top: 110px;
  right: 25px;
  color: #FFF;
  text-align: center;
}

.weather-container-1:hover, .weather-container-2:hover {
  color: #E24207;
}

#current-temp, #destination-temp {
  font-size: x-large;
  font-weight: 700;
  margin: 0;
}

#current-city, #destination-city {
  font-size: medium;
  margin: 0;
}

#weather-input-button {
	border: none;
}

/* About */
.tagline {
  font-style: italic;
}

#youtube {
  text-align: center;
}

#visit-header {
  margin-top: 30px;
}

.visit-links {
  text-align: center;
  margin-top: -50px;

}

.about-header {
  border-bottom: 1px solid #E24207;
  padding-bottom: 10px;
  width: 250px;
  margin: auto;
  color: #E24207;
}

.about {
  margin-top: 10px;
  text-align: center;
}

#github {
  height: 50px;
  width: 50px;
  margin: 40px;
}

#chrome-store {
  height: 70px;
  width: 70px;
  margin: 40px;
}

.credit {
  text-align: center;
}


#openweather {
  height: 20px;
  width: 100px;
  margin: 0px 10px 0px 10px;
}

#skyscanner {
  height: 70px;
  width: 130px;
  margin: 0px 10px 0px 10px;
}

#sita {
  height: 20px;
  width: 100px;
  margin: 0px 10px 0px 10px;
}

#skyscanner {
  height: 60px;
  width: 100px;
  margin: 0px 10px 0px 10px;
}

#flickr {
  height: 40px;
  width: 100px;
  margin: 0px 10px 0px 10px;
}

#google {
  height: 50px;
  width: 50px;
  margin: 0px 10px 0px 10px;
}

iframe {
  width: 200;
  height: 130;
  frameborder: 0;
}

.price-container {
  display: none;
  background-color: #B2AEB1;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  margin-left: 30px;
  font-size: small;
  font-weight: 700;
  border-radius: 50%;
  opacity: 0.85;
}

.price-container a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.price-container a:hover {
  color: #E24207;
}

.flight-price {
  padding-top: 30px;
}

.price-plane {
  color: #ffffff !important;
  margin-left: 0 !important;
  padding-top: 10px;
}


