*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body  {
	background-color: #6E6464;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, a {
	font-family: 'Quicksand', sans-serif;
	margin-top: 5px;
}

.container {
	padding: 80px;
}

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 30px 30px 90px 30px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	bottom: 22px;
	left: 50%;
	z-index: 100;
	display: block;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #FFF;
	font-size: 0px;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	-webkit-touch-callout: none;
/*	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}

.bt-menu-open .bt-menu-trigger span {
	background-color: #E24207;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before,
.bt-menu-open .bt-menu-trigger span:after {
	background-color: #E24207;
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-350%);
	transform: translateY(-350%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(350%);
	transform: translateY(350%);
}

.bt-menu ul {
	position: fixed;
	bottom: 5px;
	left: 50px;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	white-space: nowrap;
	height: 0;
	-webkit-transition: height 0s 0.3s;
	transition: height 0s 0.3s;
}

.bt-menu.bt-menu-open ul {
	height: 90px;
	-webkit-transition: none;
	transition: none;
}

.bt-menu ul li,
.bt-menu ul li a {
	text-align: center;
}

.bt-menu ul li {
	display: inline-block;
	margin: 0 2%;
	width: 5%;
	height: 90px;
	line-height: 90px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.bt-menu.bt-menu-open ul li {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.bt-menu.bt-menu-open ul li:first-child,
.bt-menu.bt-menu-open ul li:last-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul li:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul li:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu ul li a {
	display: block;
	outline: none;
	color: #E24207;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.5em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul li a:before {
	display: none;
	font-size: 32px;
}

.bt-menu ul li a:hover,
.bt-menu ul li a:focus {
	color: #E6E6E6;
}

/*gets rid of annoying blue box on focus (webkit)*/
.no-focus:focus {
	outline: none;
}

.modal {
	background-color: #E6E6E6;
}

.destination {
	width: auto;
	height:50px;
	margin: 5px 5px;
	background-color: #6E6464;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
}

.destination a {
	color: #E6E6E6;
	margin: 0;
	font-size: x-large;
	text-decoration: none;
	outline: 0;
}

button {
	width: auto;
	height: 30px;
	margin: 5px 5px;
	background-color: #6E6464;
	text-align: center;
	display: inline-block;
	padding: 5px 10px;
	border: none;
}

button a {
	color: #E6E6E6;
	margin: 0;
	font-size: medium;
	text-decoration: none;
	outline: 0;
}

button:hover {
  background-color: #E24207;
}

.note-text {
	font-size: large;
}

a.note-text {
	text-decoration: none;
	font-weight: bolder;
	font-size: large;
	color: #E24207;
	padding-bottom: 15px;
	outline: 0;
	outline: none;
}

a.note-text:hover {
	color: #6E6464;
}

/* mouse over link */
.destination:hover {
    background-color: #E24207;
}

.fa {
	margin-left: 15px;
	color: #333;
}

.travel-quote {
	padding-top: 10px;
	margin-left: 80px;
}

.available {
	margin-top: 40px;
}

.edit-note {
	height: 400px;
}

#note-editor {
	min-width: 485px;
	min-height: 375px;
}
.plane-container {
	position: absolute;
  top: 30px;
  left: 20px;
}

.white-icon:hover {
	color: #E24207;
}

.white-icon {
	color: #FFF;
}

.trash, .sticky, .plus {
	color: #E6E6E6 !important;
	font-size: medium !important;
	padding: 0 5px;
}

.sticky, .plus {
	margin-left: 5px !important;
}

.bt-menu ul li:nth-child(4) {
	position: absolute;
  bottom: -10px;
  right: 180px;
}

.made-with-love {
  width: 150px;
  height: 25px;
}

.note p {
	font-size: medium;
}

.about-logo {
	width: 48px;
	height: 48px;
	margin-right: 10px;
	vertical-align: middle;
}

@media screen and (max-width: 65.1em) {

	.bt-menu ul li:nth-child(3) {
	/*	margin-left: 100px;*/
		margin-right: 650px;
	}

	.bt-menu ul li a {
		font-size: medium;
	}
}



